<div class="ui grid container second">
  <div class="row">
    <div class="ui fluid green secondary pointing menu">
      <a class="active item">
        Campaign
      </a>
      <a class="item">
        FAQ
      </a>
      <a class="item">
        Updates
        <div class="floating ui green label">12</div>
      </a>
      <a class="item">
        Comments
        <div class="floating ui green label">224</div>
      </a>
      <a class="item">
        Community
      </a>
    </div>
  </div>

  <div class="row">
    <div class="twelve wide column">
      <h2 class="ui header">About this project</h2>
    </div>
    <div class="four wide column">
      <h2 class="ui header">Support this project</h2>
    </div>
  </div>

  <div class="row">
    
    
    <div class="twelve wide center aligned column">
      <h2 class="ui header">The Best Cupholder in the World</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut leo fringilla, blandit enim nec, consectetur purus. 
        Vestibulum a diam vel lorem sodales rhoncus. Mauris pharetra justo et dolor suscipit dignissim. Aliquam elementum nulla 
        at ligula ultrices, eget laoreet massa lobortis. Suspendisse non tempus ante. Praesent rutrum vehicula nulla sed vulputate. 
        Nam volutpat ipsum ut elit euismod, sed bibendum leo posuere. Nullam sagittis rhoncus iaculis. Phasellus condimentum blandit 
        lectus ut congue. Suspendisse venenatis magna sed enim placerat, vitae commodo urna rhoncus. Duis sollicitudin lectus augue, 
        nec dapibus est scelerisque sed. Cras egestas accumsan tempus. Cras a consectetur ligula. Aliquam posuere, risus scelerisque 
        sagittis luctus, ligula enim faucibus diam, sed feugiat enim urna et elit. Nullam vitae imperdiet erat.
      </p>
    </div>

    <div class="four wide center aligned column">
      <div class="ui card">
        <div class="content">
          <div class="header">Pledge $100</div>
            <div class="description">
              <p>Limited Edition Cupholder</p>
              <p>Limited Edition Card</p>
              <p>Action Figure</p>
              <p>Mobile Game</p>
            </div>
            <div class="meta">
              185 Left
            </div>
            <button class="ui fluid green button">Pledge $100</button>
          </div>
      </div>
    </div>

  </div>

</div>
