<div class="ui grid first container">
  <div class="four wide column">
    <img class="ui circular image" src="../assets/doctor.png"> 
      <div class="ui basic label">
        By Jane Doe
      </div>
  </div>
  <div class="twelve wide column">
    <h2 class="ui header">The Ultimate CupHolder: The Rugged Cupholder</h2>
    <h3 class="ui sub header">The worlds most rugged and good looking cupholder. What did you expect?</h3>
  </div>
  <div class="twelve wide column">
    <div class="ui embed" data-source="youtube" data-id="AMZ9Bl3fyEQ"></div>
  </div>
  <div class="center aligned four wide column my-border">
    <div class="row space">
      <div class="ui tiny green statistic">
        <div class="value">
          $62,000
        </div>
        <div class="label">
          pledged of $100,000 goal
        </div>
      </div>
    </div>
    <div class="row space">
      <div class="ui tiny statistic">
        <div class="value">
          322
        </div>
        <div class="label"> 
          backers
        </div>
      </div>
    </div>
    <div class="row space">
      <div class="ui tiny statistic">
        <div class="value">
          28
        </div>
        <div class="label">
          days to go
        </div>
      </div>
    </div>

    <div class="row space">
      <button class="fluid green ui button">Back This Project</button>
    </div>

    <div class="row">
      <div class="fluid ui buttons">
        <button class="ui button"><i class="star icon"></i>Remind me</button>
        <button class="ui button"><i class="share icon"></i>Share</button>
      </div>
    </div>
  



  </div>
    

  </div>




